//@format
.view--journals {
  //text-align: center;
  a {
    font-size: 1.3rem;
    margin-bottom: 10px;
    display: block;
    &::before {
      content: '- ';
    }
  }
  .view-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
